name: main

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v4
      - name: ci
        run: cmake -DCMAKE_BUILD_TYPE:STRING=Release -B build && cmake --build build --config Release -t ci
